<nav>
  <a
    [routerLink]="['/page1']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Page 1</a
  >
  <a
    [routerLink]="['/page2']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Page 2</a
  >
  <a
    [routerLink]="['/dragonball']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Dragonball</a
  >
  <a
    [routerLink]="['/dragonball-super']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Dragonball Super</a
  >
</nav>
